*{
    margin: 0;
    padding: 0;
}

main{
    height: 300px;
    background-image: url(../img/img-main.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.venta>button{
    border: none;
}

.venta>button>a{
    background-color: black;
    color: white;
    text-decoration: none;
}

.alquiler>button{
    border: none;
}

.alquiler>button>a{
    background-color: black;
    color: white;
    text-decoration: none;
}

.icon{
    width: 25px;
}

#propiedades {
    display: flex;
    flex-wrap: wrap;
}

.alq>.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    padding: 10px;
    margin: 15px;
}

.alq>.card>.arriba>img{
    border-radius: 5px;
    width: 100%;
}

.alq>.card>.abajo>.siPets{
    display: flex;
    padding: 10px;
}

.alq>.card>.abajo>.noPets{
    display: flex;
    padding: 10px;
}

.alq>.card>.abajo>.noFumar{
    display: flex;
    padding: 10px;
}

.alq>.card>.abajo>.siFumar{
    display: flex;
    padding: 10px;
}

.location{
    display: flex;
    align-items: center;
}

.location>.texto{
    display: flex;
    align-items: center;
}

.capacidad{
    display: flex;
    align-items: center;
}

.capacidad>.habitacion{
    display: flex;
    align-items: center;
    padding-right: 10px;
    border-right: solid 1px black;
}

.capacidad>.baños{
    display: flex;
    justify-content: center;
    padding: 10px;
}